.home-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 40vh; 
    text-align: center;
    flex-direction: column;
    margin: 3rem auto 0;
    width: 75%;
}